{% extends 'base.html' %}
{% block content %}

<h2 class="text-center alert alert-info">Home</h2>

<h3 class="text-center alert alert-success ">All Users Habit Information</h3>
<div class="col-md-6 col-md-offset-3">
    {% if data %}
    <table class="table">
        <thead >
            <tr>
                <th scope="col">Habit1</th>
                <th scope="col">Habit2</th>
                <th scope="col">Habit3</th>
                <th scope="col">Habit4</th>
                <th scope="col">Habit5</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{d.habit1}}</td>
                <td>{{d.habit2}}</td>
                <td>{{d.habit3}}</td>
                <td>{{d.habit4}}</td>
                <td>{{d.habit5}}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% else %}
    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center alert alert-danger">No Habit Available</h3>
    </div>
    {% endif %}
 

</div>
</div>
{% endblock content %}