{% extends 'base.html' %}
{% block content %}

<style>
    .CBU{
        font-size: x-large;
    }
</style>

<h3 class="text-center alert alert-info">All Users Habit Information</h3>
<div class="cul-md-3 cul-md-offset-3">
    {% if data %}
    <ul>
        {%for d in data%}
        <li class="CBU">Created By : {{d.user}}</li> 
        <li>Habit1 : {{d.habit1}}</li> 
        <li>Habit2 : {{d.habit2}}</li>
        <li>Habit3 : {{d.habit3}}</li>
        <li>Habit4 : {{d.habit4}}</li>
        <li>Habit5 : {{d.habit5}}</li> <br>
        {%endfor%}
    </ul>
    {% else %}
    <h3 class="text-center alert alert-danger">No Habit Available</h3>
    {% endif %}

</div>
</div>
{% endblock content %}